# Ignore virtual environments
venv/
env/
.env

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore local database files
*.db

# Ignore temporary files
*.bak
*.swp

